<h3>All Characters</h3>

<ul>
  <% if @characters != nil %>
    <% @characters.each do |character| %>
      <li>
        <%= "#{character.name} is played by #{character.actor_name} on #{TelevisionShow.find(character.show_id).title}. Description: #{character.description}" %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= form_for(@character,url: character_path(:id), method: :delete) do |f| %>
  <div>
    <%= f.label :character_name_to_delete %>
    <%= f.collection_select(:id, Character.all, :id, :name ) %>
  </div>

  <%= f.submit 'Submit' %>
<% end %>
